venv/
__pycache__/
*.pycss

# Banco de dados
database/estoque.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambientes virtuais
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db